<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmuch.yes.repository.content.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.itmuch.yes.domain.content.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="issue_date" jdbcType="TIMESTAMP" property="issueDate" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>

    <select id="searchByCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from f_article
        where title like CONCAT('%', #{keyword}, '%')
           or content like CONCAT('%', #{keyword}, '%')
    </select>
</mapper>